.banner {
  background-image: url("../../images/background.png");
  color: white;
  height: 600px;
  background-position: 20%;
  background-size: cover;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.banner-container {
  width: 70%;
  margin: 0 auto;
}

.banner h3 {
  font-family: 'Open Sans', sans-serif ;
  font-size: 20px;
  font-weight: 400;

  color: rgb(200,200,200)
}

.banner h1 {
  font-size: 36px;
}
